.deleteButtonSpan {
  padding-left: 5px;
}

.createCheckoutForm {
  &__buttonsStack {
    &__submitButton {
      margin-right: 10px;
    }
  }
}

.createProductHeader {
  &__title {
    font-size: 2rem;
    font-weight: 600;
    line-height: 2rem;
    margin-bottom: 20px;
  }
}

.createProductForm {
  &__buttonsStack {
    &__submitButton {
      margin-right: 10px;
    }
  }
}

.product-variant {
  padding-left: 20px;
  position: relative;
  padding: 30px 0;
  &__title {
    margin-bottom: 10px;
  }

  &__remove {
    cursor: pointer;
    position: absolute;
    top: 25px;
    right: 10px;
  }
}
